body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
  }
  
  h1, 
  h2,
  h3,
  h4,
  h5,
  h6{
    font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
    font-weight: normal;
    /* font-style: italic; */
  }
  
  h1 {
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: black;
    margin: 0;
    /* margin: 100px 150px 70px 30px; */
    /* text-transform: uppercase; */
    /* text-decoration: dashed; */
  }
  h1 strong {
    color: #000000	;
  }
  h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-family:  'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 40px;
  }
  .header {
    background-color: #ffffff;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
  }
  
  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  figure {
    margin: 0;
  }
  
  .header a {
    color: #000000;
    text-decoration: none;
    font-family:  'Oswald', sans-serif;
    font-family: 'Playfair Display', serif; 
  }
  .menu {
    height: inherit;
  }
  .header ol {
    display: flex;
    height: inherit;
  }
  .header ol li {
    height: inherit;
  }
  .header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;

  }

  .container {
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }

  .hero {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: auto;
  
  }
  
  .hero-image{
    object-fit:fill;
    
  }
  
  .contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    
}
 
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 61%;
    transform: translate(-50%, -50%);
}